/* ======General====== */

.App{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 2.5rem auto 2.5rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FFF;
    font-weight: bold;
}

a:active {
    text-decoration: underline;
}

button, img{
    max-width: 100%;
}

/* =======Navbar========= */
.navbar{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    background-color: skyblue;
}

.navbar-brand{
    grid-column: 2 / span 4;
    margin-left: 1.2rem;
    padding-top: .7rem;
}

.navbar button{
    grid-column: 6 / span 3;
    width: 7rem;
    height: 2rem;
    border-radius: .5rem;
    border: 2px solid #000;
    margin-top: .2rem;
}

.navbar button:hover{
    cursor: pointer;
    background-color: green;
    border-color: yellow;
    color: yellow;
    font-weight: bold;
}

.navbar-ul {
    grid-column: 17 / -2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

/* =======Meeting List====== */

.meeting-list{
    grid-column: 2 / span 14;
}

.meeting-list, 
.meeting-activities{
    padding-top: .8rem;
}

.meeting{
    width: 98.5%;
    height: 20rem;
    border-radius: .2rem;
    margin-bottom: .7rem;
    background-color: #FFF;
    border: 1.5px solid #CCC;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6rem 2rem 4rem 8rem;
}

.m-title{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.m-host{
    grid-column: 1 / span 1;
    margin-right: 1rem;
    padding: .7rem 0 0 .7rem;
}

.m-header{
    grid-column: 2 / -1;
}

.m-time{
    grid-column: 1 / -1;
    padding: .7rem 0 .7rem 0.7rem;
    border-top: .5px solid #DDD;
    border-bottom: .5px solid #DDD;
    color: #AAA;
}

.m-time span{
    margin-right: 1rem;
}

.m-attendee{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 3rem;
    border-bottom: .5px solid #DDD;
    background-color: #EFEFEF;
    margin: 0;
    padding: .7rem;
    list-style: none;
}

.m-attendee img{
    margin-right: 1rem;
    padding: 0 0 0 .7rem;
}

.m-text{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 5.5rem 2.5rem;
    padding: 0 .7rem .7rem .7rem;
    
}

.m-text p{
    grid-column: 1 / -1;
    margin-bottom: 0;
    color: #AAA;
}

.m-text button{
    grid-column: 4 / 5;
    width: 7rem;
    height: 2rem;
    background-color: #006BA6;
    color: #FFF;
    border-radius: .5rem;
    border: 2px solid #000;
}

.m-text button:hover{
    cursor: pointer;
    background-color: #0496FF;
    border-color: #000;
    color: #000;
    font-weight: bold;
}

/* ======Meeting Activities====== */

.meeting-activities{
    grid-column:  17 / span 7;
}

/* ======Footer====== */

.footer{
    grid-column: 1 / -1;
    background-color: #3B475A;
    color: #FFF;
    text-align: center;
    opacity: 0.8;
    padding-left: 2rem;
}

/* ======Media Queries====== */

@media screen and (max-width: 468px) {
    body{
        font-size: 8px;
    }
    .App{
        display: block;
    }

    .meeting-activities{
        display: none;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    body{
        font-size: 70%;
    }

    .App{
        display: block;
    }

    .meeting-activities{
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media screen and (min-width: 992px) {...} */
