/* ======General====== */

.App{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 3.5rem auto 20rem;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #FFF;
    font-weight: bold;
}

a:active {
    text-decoration: underline;
}

button, img{
    max-width: 100%;
}

/* =======Navbar========= */
.navbar{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: 2.5rem 1rem;
    background-color: skyblue;
}

.navbar-brand{
    grid-column: 2 / span 4;
    margin-left: 1.2rem;
    padding-top: .7rem;
}

.navbar button{
    grid-column: 6 / span 3;
    width: 7rem;
    height: 2rem;
    border-radius: .5rem;
    border: 2px solid #000;
    margin-top: .2rem;
}

.navbar button:hover{
    cursor: pointer;
    background-color: green;
    border-color: yellow;
    color: yellow;
    font-weight: bold;
}

.navbar-ul {
    grid-column: 17 / -2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
}

.nav-2{
    grid-column: 1 / -1;
    background-color: #006BA6;
    border-bottom: 2px solid #FFF;
}

/* =======Meeting List====== */

.meeting-list{
    grid-column: 2 / span 14;
}

.meeting-list, 
.meeting-activities,
.m-form{
    padding-top: .8rem;
}

.meeting{
    width: 98.5%;
    height: 20rem;
    border-radius: .2rem;
    margin-bottom: .7rem;
    background-color: #FFF;
    border: 1.5px solid #DDD;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 6rem 2rem 4rem 8rem;
}

.m-title{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.m-host{
    grid-column: 1 / span 1;
    margin-right: 1rem;
    padding: .7rem 0 0 .7rem;
}

.m-header{
    grid-column: 2 / -1;
}

.m-time{
    grid-column: 1 / -1;
    padding: .7rem 0 .7rem 0.7rem;
    border-top: .5px solid #DDD;
    border-bottom: .5px solid #DDD;
    color: #AAA;
}

.m-time span{
    margin-right: 1rem;
}

.m-attendee{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 3rem;
    border-bottom: .5px solid #DDD;
    background-color: #006BA6;
    background-color: #CCC;
    margin: 0;
    padding: .7rem;
    list-style: none;
}

.m-attendee img{
    margin: 0 3.5rem 3.5rem 0;
    padding: 1px;
    border: .5px solid #FFF;
}

.m-text{
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: 5.5rem 2.5rem;
    padding: 0 .7rem .7rem .7rem;
    
}

.m-text p{
    grid-column: 1 / -1;
    margin-bottom: 0;
    color: #AAA;
}

.m-text button{
    width: 3.5rem;
    height: 2rem;
    color: #FFF;
    border-radius: .5rem;
    border: 2px solid #000;
}

.b-view{
    grid-column: 12 / 13;
    font-size: 1rem;
    margin-right: .2rem;
}

.b-edit{
    grid-column: 13 / 14;
    font-size: 1rem;
}

.b-delete{
    grid-column: 14 / 15;
    margin-left: .2rem;
}

.m-text span:hover{
    cursor: pointer;
    font-weight: bold;
}

.b-view:hover{
    color: green;
}

.b-edit:hover{
    color: blue;
}

.b-delete:hover{
    color: maroon;
}

/* ====== Meeting Activities ====== */

.meeting-activities,
.m-form{
    grid-column:  17 / span 7;
}

/* ====== Footer ====== */

.footer{
    grid-column: 1 / -1;
    text-align: center;
    opacity: 0.8;
    background-color: #006BA6;
    color: #FFF;
    border-top: 2px solid #FFF;
}

/* ====== Meeting Form ====== */

.m-form form {
    width: 100%;
    height: 18rem;
    padding: 1rem;
    border-radius: .2rem;
    background-color: #FFF;
    border: 1.5px solid #DDD;
}

.form-input input{
    width: 100%;
    height: 1.5rem;
    margin-top: .5rem;
    border: none;
    border-bottom: 1px solid #DDD;
}

.form-input input:focus{
    outline: none;
    border-bottom: 2px solid #DDD;
}

.f-buttons button{
    width: 3.5rem;
    height: 2rem;
    color: #FFF;
    border-radius: .5rem;
    border: 2px solid #000;
}

.f-buttons button:hover{
   cursor: pointer;
}

.btn-submit{
    background-color: green;
    margin-right: .2rem;
}

.btn-cancel{
    background-color: maroon;
}


/* ====== Media Queries ====== */

@media screen and (max-width: 468px) {
    body{
        font-size: 8px;
    }
    .App{
        display: block;
    }

    .meeting-activities{
        display: none;
    }
} 

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    body{
        font-size: 70%;
    }

    .App{
        display: block;
    }

    .meeting-activities{
        display: none;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) 
@media screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) 
@media screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) 
@media screen and (min-width: 992px) {...} */
